* {
    box-sizing: border-box;
  }
body{
    margin: 0px;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;

}

.title{
    color:#d9f0ffff;
    text-align: center;
    margin:0px;
    background-color:#657ED4;
    min-height: 8vh;
    min-width: 100%;
}
.container{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-columns: auto;
    grid-template-rows:auto;
    background-color: #d9f0ffff;
}

.container .card{
    color:#D9F0FF ;
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin:1.5em;
    background-image: linear-gradient(180deg,#68B684,#657ED4);
    min-height: 30vh;
    height: 50vh;
    max-width: 280px;
    min-width: 170px;
    border-radius: 6%;
    font-weight: bold;
}

.container #card0{
    display: none;
}
.container #addButton{
    background-color:#68b68562;

}
.container #addButton #adddButton{
    height: 10em;
    width: 10em;
}

.card #editPencil{
    position: absolute;
    top:-15px;
    left: -15px;
    height: 3.2em;
    width: 3.2em;
}
.card #deleteButton{
    position: absolute;
    top:-15px;
    right: -15px;
    height: 3em;
    width: 3em;
}

.card #cardTitle{
    font-size: 2em;
    font-family: serif, Helvetica, sans-serif;
    font-weight: bold;
}

.formContainer{
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items:center;

   /* top:50%;
    left: 50%;
    transform:translate(-50%,-50%);*/

}
.form{
    position: relative;
    color:#D9F0FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(180deg,#68B684,#657ED4);
    height: 80vh;
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    max-height: 300px;
    border-radius: 5%;
}
.form #submitButton{
    /*background-image: url(Images/AddGreen.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 10em;
    width: 10em;*/
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.form #submitButton #addBookButton{
    height: 10em;
    width: 10em;

}
.form #submitButton span{
    display: none;}

.form #closePopUp{
    position: absolute;
    height: 3em;
    width: 3em;
    right: -15px;
    top:-15px
}












@media (max-width: 900px) {
    .container{
        width: 100%;
        min-height: 90vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-columns: auto;
        grid-template-rows:auto;
        background-color: #d9f0ffff;
    }


}

@media (max-width: 700px) {
    .container{
        width: 100%;
        min-height: 90vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-columns: auto;
        grid-template-rows:auto;
        background-color: #d9f0ffff;
    }

}
@media (max-width: 500px) {
    .container{
        width: 100%;
        min-height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #d9f0ffff;
    }
    .container .card{
        position: relative;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin:1.5em;
        background-color: #657ED4;
        min-height: 30vh;
        height: 50vh;
        max-width: 80vw;
        min-width: 70vw;
        border-radius: 6%;
    }

}
















/* https://coolors.co/efbdeb-f86624-657ed4-68b684-d9f0ff*/
/* CSS HEX 
--russian-violet: #261447ff;
--orange-red: #f86624ff;
--glaucous: #657ed4ff;
--verdigris: #28afb0ff;
--columbia-blue: #d9f0ffff;

/* CSS HSL 
--russian-violet: hsla(261, 56%, 18%, 1);
--orange-red: hsla(19, 94%, 56%, 1);
--glaucous: hsla(226, 56%, 61%, 1);
--verdigris: hsla(180, 63%, 42%, 1);
--columbia-blue: hsla(204, 100%, 93%, 1);*/

/* SCSS HEX 
$russian-violet: #261447ff;
$orange-red: #f86624ff;
$glaucous: #657ed4ff;
$verdigris: #28afb0ff;
$columbia-blue: #d9f0ffff;*/

/* SCSS HSL 
$russian-violet: hsla(261, 56%, 18%, 1);
$orange-red: hsla(19, 94%, 56%, 1);
$glaucous: hsla(226, 56%, 61%, 1);
$verdigris: hsla(180, 63%, 42%, 1);
$columbia-blue: hsla(204, 100%, 93%, 1);*/

/* SCSS RGB 
$russian-violet: rgba(38, 20, 71, 1);
$orange-red: rgba(248, 102, 36, 1);
$glaucous: rgba(101, 126, 212, 1);
$verdigris: rgba(40, 175, 176, 1);
$columbia-blue: rgba(217, 240, 255, 1);*/

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-right: linear-gradient(90deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-bottom: linear-gradient(180deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-left: linear-gradient(270deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-top-right: linear-gradient(45deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-bottom-right: linear-gradient(135deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-top-left: linear-gradient(225deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-bottom-left: linear-gradient(315deg, #261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);
$gradient-radial: radial-gradient(#261447ff, #f86624ff, #657ed4ff, #28afb0ff, #d9f0ffff);*/